.loginform{
    /* border: 2px solid green; */
display: flex;
align-items: center;
justify-content: center;
/* width: 1640px; */
/* height:400px ; */
padding: 2%;
margin-top: 200px;


}
.page{
    border: 2px solid rgb(142, 137, 35);
    padding: 4%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(165, 185, 165, 0.3);
}
.log{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    padding: 2%;
   
}
#lo{
    cursor: pointer;
    
}

input{
    border: 2px solid rgb(0, 255, 153);
    border-radius: 10px;
    /* cursor: pointer; */
}